@font-face {
    font-family: Parimatch;
    src: url(../fonts/Parimatch-Regular.f5af3019.otf);
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Parimatch Bold;
    src: url(../fonts/Parimatch-Bold.106d6146.otf);
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Gilroy Light;
    src: url(../fonts/Gilroy-Light.63435ddf.otf);
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: Gilroy Normal;
    src: url(../fonts/Gilroy-Regular.dc762492.otf);
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Gilroy Medium;
    src: url(../fonts/Gilroy-Medium.f3e05df2.otf);
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: Gilroy Bold;
    src: url(../fonts/Gilroy-Bold.be12eefb.otf);
    font-style: normal;
    font-weight: 700
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    padding: 0
}

:focus {
    outline: 0
}

ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    transition: color .3s
}

a, a:active, a:visited {
    color: #fff
}

a:hover {
    cursor: pointer;
    color: #9fadc2
}

button {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0
}

input, textarea {
    border: none
}

textarea {
    resize: none
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #2c2c2c inset
}

.ernwupkoww {
    display: flex;
    justify-content: space-between;
    padding: 2.17391vh 6.25vw;
    margin-bottom: 55px
}

.header__btn-modal:first-child {
    margin-left: 40px
}

.mzcosaalcf {
    display: none
}

.ypsfjdtyme {
    font-family: Gilroy Medium, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: .46rem;
    color: #fff;
    transition: color .3s linear, text-decoration .3s linear
}

.ypsfjdtyme:hover {
    text-decoration: underline
}

.ypsfjdtyme:active, .ypsfjdtyme:hover {
    cursor: pointer;
    color: #f8ff13
}

.pidipohdcd {
    color: #f8ff13 !important;
    position: relative
}

.zytaqvpafb {
    font-size: .4rem
}

.hjodlfrlmt {
    margin-bottom: 60px
}

.xelljlhexm {
    margin-bottom: 30px
}

.feakgkdmgn {
    display: none
}

.hsibpmbyqo {
    position: relative;
    z-index: -1;
    filter: drop-shadow(0 0 30px #f8ff13);
    overflow: visible;
    direction: ltr;
}

.animation-container__item-1 {
    position: relative;
    transform: translateX(70%);
    z-index: 1;
    animation: item-1 8s ease-in-out 2s infinite normal
}

.animation-container__item-2 {
    position: relative;
    transform: translate(10%, -3%);
    z-index: 3;
    animation: item-2 8s ease-in-out 2s infinite normal
}

.animation-container__item-3 {
    position: relative;
    transform: translateX(-55%);
    z-index: 1;
    animation: item-3 8s ease-in-out 2s infinite normal
}

@keyframes item-1 {
    0% {
        z-index: 1;
        transform: translateX(70%)
    }
    33% {
        z-index: 1;
        transform: translateX(150%)
    }
    66% {
        z-index: 1
    }
    to {
        transform: translateX(70%);
        z-index: 1
    }
}

@keyframes item-2 {
    0% {
        z-index: 1;
        transform: translate(10%, -3%)
    }
    33% {
        z-index: 1;
        transform: translate(-35%)
    }
    36% {
        z-index: 4;
        transform: translate(-36%)
    }
    66% {
        z-index: 4
    }
    to {
        z-index: 4;
        transform: translate(10%, -3%)
    }
}

@keyframes item-3 {
    0% {
        z-index: 3;
        transform: translateX(-55%)
    }
    33% {
        z-index: 3;
        transform: translate(-93%, -3%)
    }
    36% {
        z-index: 1
    }
    66% {
        z-index: 1
    }
    to {
        transform: translateX(-55%);
        z-index: 1
    }
}

.jdzgbhjgug {
    text-align: center;
    text-transform: uppercase
}

.jdutfgycls {
    font-family: Parimatch Bold, Arial, Helvetica, sans-serif;
    font-size: 1.73rem;
    line-height: 1;
    text-shadow: 0 0 6px #f8ff13;
    max-width: 300px;
    margin: 0 auto 5vw;
    text-align: center
}

.aejhnvtiuc {
    color: #f8ff13;
    font-family: Parimatch, sans-serif;
    font-size: 20vw;
    font-weight: 700
}

.oojkgifqlp {
    margin-top: -40px;
    max-width: 800px
}

.onzabavxnj {
    font-size: .73rem;
    max-width: 250px;
    margin: 0 auto 20px;
    text-align: right;
}

.olxitwhvqp {
    max-width: 300px;
    margin: 0 auto
}

.ljehfawphw {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap
}

.mxrxgpuynk {
    width: 100%;
    height: 42px;
    color: #fff;
    font-size: .46rem;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #676767;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 50px;
    min-width: 304px;
    direction: ltr;
}

.mxrxgpuynk::placeholder {
    font-family: Gilroy Medium, Arial, Helvetica, sans-serif;
    font-size: .46rem
}

.xsckixspwa {
    position: relative;
    margin-bottom: 16px
}

.xsckixspwa:after {
    content: "+91";
    width: 42px;
    height: 89%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gilroy Normal, Arial, Helvetica, sans-serif;
    font-size: .46rem;
    position: absolute;
    background: hsla(0, 0%, 100%, .25);
    border-left: 1px solid #676767;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #676767;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.dtvkabzqec {
    margin-top: 15px;
    max-width: 185px
}

.uhjipvfnre {
    margin-top: 5px;
    font-size: .46rem;
    color: red;
    opacity: 0
}

.btn {
    width: 100%;
    height: 42px;
    background: #f8ff13;
    font-family: Gilroy Bold, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border: 2px solid #f8ff13;
    border-radius: 3px;
    transition: background .3s linear, color .3s linear, box-shadow 1s linear
}

.btn:hover {
    cursor: pointer;
    background: rgba(248, 255, 19, .1);
    backdrop-filter: blur(12px);
    color: #f8ff13
}

.btn:active {
    background: #afb505;
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, .25)
}

.smpdpjhqdc {
    text-align: center
}

.jiwrqqkfmd {
    font-size: .46rem;
    margin: 0 auto 15px
}

.cpeujehiwe {
    display: inline-block;
    width: 250px;
    margin: 0 auto
}

.uzpuhzvwog {
    display: flex;
    justify-content: space-around
}

.kpjkanfqlo {
    font-family: Gilroy Medium, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: .46rem;
    color: #fff;
    text-align: center;
    font-size: .4rem;
    max-width: 70px;
    margin: 0 10px;
}

.wyhekkbaml {
    padding: 0 8.77193vw 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.fmjlvbcgnm, .qrgrhccfbu {
    margin-bottom: 10px
}

.fmjlvbcgnm {
    width: 24px
}

.mgvzaqraiy {
    text-align: center;
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    font-size: .4rem;
    opacity: .5
}

.alphxoykgc {
    display: none;
    width: 100%;
    font-size: .4rem;
    background: #071b31;
    opacity: .8;
    padding: 0 6.25vw 2.17391vh
}

.hiimvouvvo {
    position: sticky;
    top: 55px;
    right: 100%;
    width: 56px;
    height: 34px;
    background: url(../images/back-button.cd31c66e.svg) 50% no-repeat;
    background-size: contain;
    z-index: 3;
    transform: rotate(180deg);
    background-color: rgba(255,255,255, .15);
    border-radius: 4px;
}

.hiimvouvvo:hover {
    cursor: pointer
}

#to-top{
    position: fixed;
    bottom: 15px;
    right: 95%;
    z-index: 3;
    display: none;
    transform: rotate(-90deg) scale(-1, 1);
    animation: fade-in .25s;
    cursor: pointer;
    transition: .1s all;
}
#to-top:after{
    content: '';
    position: absolute;
    height: 35px;
    width: 35px;
    background: url(../images/back-button.cd31c66e.svg) 50% no-repeat;
    background-color: rgba(255,255,255, .15);
    border-radius: 4px;
}
#to-top:hover{
    opacity: .75;
}
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: .75;}
}

.clxbmgmuoa {
    text-align: center;
    font-size: .73rem;
    max-width: 220px;
    margin: 0 auto 35px
}

.kpmsdywsds {
    font-family: Gilroy Bold, Arial, Helvetica, sans-serif;
    font-size: .46rem;
    margin-bottom: 15px
}

.kpmsdywsds:not(:first-child) {
    margin-top: 20px
}

.xhyxatwiku {
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    margin-bottom: 15px
}

.xhyxatwiku span {
    font-family: Gilroy Bold, Arial, Helvetica, sans-serif
}

.modal__item, .keyandcbqk {
    margin-bottom: 15px
}

.modal__body{
    padding-top: 2.17391vh;
}

.sojvtgzwzv {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0
}

.alphxoykgc .modal__form {
    width: 280px;
    margin: 0 auto
}

.bpbdpjyafj {
    flex-direction: column;
    align-items: center;
    padding: 0 6.25vw 50px
}

.lhzbupneds {
    font-size: .73rem;
    margin-bottom: 30px;
    text-align: center
}

.modal-form {
    align-items: center
}

.modal-form, .wplrjfzmmu {
    display: flex;
    flex-direction: column
}

.wplrjfzmmu {
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    font-size: .46rem;
    width: 100%;
    margin-bottom: 20px
}

.sffzeahklx {
    width: 100%;
    height: 37px;
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    font-size: .4rem;
    background: #fff;
    border: 1px solid #a5afc9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    padding: 0 12px 0 32px
}

.sffzeahklx::placeholder {
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    color: #000;
    opacity: .5;
    font-size: .4rem
}

.judekzsaht {
    width: 100%;
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    color: #000;
    background: #fff;
    border: 1px solid #a5afc9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    padding: 12px
}

.judekzsaht::placeholder {
    font-family: Gilroy Light, Arial, Helvetica, sans-serif;
    color: #000;
    opacity: .5;
    font-size: .4rem
}

.cqixajwheu {
    margin-bottom: 150px
}

* {
    box-sizing: border-box
}

body, html {
    font-family: Gilroy Medium, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    background-color: #081b32
}

.nzrrqbuhfh {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/bg-min.af3fb52f.jpg) 50% no-repeat;
    background-size: cover;
    z-index: 1
}
.nzrrqbuhfh.darken{
    background-size: contain;
    background-repeat: repeat;
}

.nzrrqbuhfh.darken:before{
    background: linear-gradient(
            180deg
            , #071b31, rgba(7, 27, 49, 0) 47.93%, #071b31);
    background: rgba(7, 27, 49, .9);
}

.nzrrqbuhfh:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(180deg, #071b31, rgba(7, 27, 49, 0) 47.93%, #071b31)
}

.fcrciwqmca {
    background: url(../images/modal-form-bg.46a1fa2e.jpg) 50% no-repeat;
    background-size: cover
}

.xhdvkfnhwv {
    background: url(../images/modal-form-pc-bg.41a6320f.jpg) 50% no-repeat;
    background-size: cover
}

@media (min-width: 768px) {
    .ernwupkoww {
        justify-content: center
    }
    .mzcosaalcf {
        position: absolute;
        left: 6%
    }
    .ypsfjdtyme {
        font-size: .73rem
    }
    .pidipohdcd:before {
        content: ".";
        position: absolute;
        top: -20%;
        left: -5%
    }
    .zytaqvpafb {
        font-size: .53rem
    }
    .jhzomfgatw {
        max-height: 800px;
        padding: 0 7.14286vw
    }
    .jdutfgycls {
        font-size: 3.73rem;
        max-width: 770px
    }
    .oojkgifqlp {
        width: 80%
    }
    .onzabavxnj {
        max-width: 400px
    }
    .jiwrqqkfmd {
        font-size: .73rem
    }
    .cpeujehiwe {
        width: 500px
    }
    .uzpuhzvwog {
        justify-content: center
    }
    .kpjkanfqlo {
        font-size: .73rem;
        font-size: .53rem !important;
        max-width: 100%;
        margin-left: 15px
    }
    .mgvzaqraiy {
        font-size: .46rem
    }
    .alphxoykgc {
        font-size: .53rem;
        background: 0 0;
        opacity: 1;
        /*height: 73vh;*/
        /*overflow: scroll;*/
        margin-bottom: 20px;
        position: relative
    }
    .hiimvouvvo {
        display: none
    }
    .clxbmgmuoa {
        font-size: 1rem;
        max-width: 500px
    }
    .kpmsdywsds {
        font-size: .73rem
    }
    .sojvtgzwzv {
        font-size: .7rem
    }
    .alphxoykgc .modal__form {
        width: 100%;
        max-width: 560px
    }
    .bpbdpjyafj {
        height: 100%;
        overflow: unset;
        margin-bottom: 0
    }
    .lhzbupneds {
        font-size: 1rem;
        margin-bottom: 60px
    }
    .wplrjfzmmu {
        font-size: .53rem
    }
    .sffzeahklx {
        padding: 0 20px 0 32px;
        font-size: .73rem;
        height: 65px
    }
    .sffzeahklx::placeholder {
        font-size: .73rem
    }
    .judekzsaht {
        font-size: .73rem;
        padding: 20px;
        height: 200px;
        margin-bottom: 60px
    }
    .cqixajwheu {
        max-width: 176px;
        margin-bottom: 40px
    }
    body, html {
        overflow-x: hidden
    }
}

@media (min-width: 1000px) {
    .aejhnvtiuc {
        font-size: 8vw
    }
}

@media (min-width: 1100px) {
    .mxrxgpuynk {
        height: 60px;
        padding-left: 70px;
        font-size: .5rem;
        min-width: 304px
    }
    .mxrxgpuynk::placeholder {
        font-size: .55rem
    }
    .xsckixspwa {
        margin-left: 30px
    }
    .xsckixspwa:after {
        width: 60px;
        height: 96%;
        font-size: .55rem
    }
    .dtvkabzqec {
        margin-top: 0;
        max-width: 220px
    }
    .uhjipvfnre {
        order: 4;
        margin-left: 70px
    }
    .btn {
        font-size: .55rem;
        height: 60px
    }
    .ernwupkoww {
        justify-content: center;
        margin-bottom: 120px
    }
    .feakgkdmgn {
        display: block;
        height: 100%;
        transform: translate(-10%, -95%)
    }
    .animation-container__item-1, .animation-container__item-2, .animation-container__item-3 {
        width: 250px
    }
    .jdutfgycls {
        font-size: 2.73rem;
        max-width: 700px;
        margin: 0 0 5vw
    }
    .oojkgifqlp {
        width: 50%;
        transform: translateX(-80px)
    }
    .onzabavxnj {
        margin: 0 0 20px
    }
    .olxitwhvqp {
        margin: 0;
        max-width: 70%
    }
    .nibukiqbgi {
        order: 2
    }
    .ljehfawphw {
        flex-direction: row;
        align-items: flex-start
    }
}

@media (min-width: 1200px) {
    .jhzomfgatw {
        max-height: 650px
    }
    .dtvkabzqec {
        margin-top: 0;
        max-width: 260px
    }
    .uhjipvfnre {
        margin-left: 90px
    }
}

@media (min-width: 1490px) {
    .olxitwhvqp {
        margin: 0;
        max-width: 700px
    }
}

@media (min-width: 1600px) {
    .feakgkdmgn {
        display: block;
        transform: translate(-5%, -95%)
    }
    .animation-container__item-1, .animation-container__item-2, .animation-container__item-3 {
        width: 300px
    }
    .jdutfgycls {
        font-size: 3.73rem;
        max-width: 700px;
        margin: 0 0 5vw
    }
    .oojkgifqlp {
        width: 60%;
        transform: translateX(-115px)
    }
    .mxrxgpuynk {
        height: 60px;
        font-size: .6rem;
        padding-left: 76px;
        min-width: 360px
    }
    .mxrxgpuynk::placeholder {
        font-size: .6rem
    }
    .xsckixspwa:after {
        width: 60px;
        height: 97%;
        font-size: .6rem
    }
    .uhjipvfnre {
        margin-left: 150px
    }
    .btn {
        font-size: .73rem
    }
}